body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://cdn.theatlantic.com/thumbor/09LrTESh245UCgZaAPe0S870pss=/0x141:2781x1705/1952x1098/media/img/mt/2015/10/Cygnus_v3_BandW/original.jpg);
  font-size: 1em;
  font-family: 'Roboto Mono'
}

h1 {
  color: gold;
}


.bigdiv {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.poster {
  width: 100%;
  height: 550px;
}

.button-container {
  width: 35%;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  background: transparent;
  border: none;
  width: 100%;
}

.modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
  overflow: auto;
  display: none;
}

.modal-textbox {
	background-color: black;
  color: turquoise;
	height: 450px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

#close-button {
  color: teal;
}

.info {
  width: 550px;
  height: 400px;
  overflow: auto;
  padding: 10px;
}


@media (max-width: 750px) {
  .button-container {
    width: 35%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
  }
}
