body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
}

h1 {
  color: gold;
}

nav {
  position: absolute;
  top: 0;
  float: left;
}

#quiz {
  color: white;
  font-size: 2em;
  position: sticky;
}



.bigdiv {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.poster {
  width: 100%;
  height: 600px;
}

.button-container {
  width: 40%;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  background: transparent;
  border: none;
  width: 100%;
}

.modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
  overflow: auto;
  display: none;
}

.modal-textbox {
	background-color: white;
	height: 450px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.info {
  width: 550px;
  height: 400px;
  overflow: auto;
  padding: 10px;
}
